{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- About Start -->


 <div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src={% static 'img\recruit vector.png' %} alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Welcome to KBG Recruiting Agency</p>
                    <h2> KBG Recruiting Agency operates hand in hand with the brands</h2>
                </div>
                <div class="about-text">
                    <p>
                        KBG has always believed that our nation's human resources are the only resource that will increase in value. Because it owes it to its esteemed partners to provide them with quality human resources, KBG established a training facility where applicants are well-prepared and trained for foreign businesses. Candidates looking for work abroad encounter issues with positions, the workplace environment, the language, culture, norms, gestures, postures, and a variety of other issues. Keeping this in mind, KBG Training  Center  provides  training  and  induction  programs  that  benefit  both  employers  and  those looking for international job.
                    </p>
                    <p>
                        our systems, programs and policies are designed to make the connection to work a viable option for those who need it . we work to prevent discrimination by using recruiting procedures and industry leading skills assessments. Instead, we emphasize people's talents rather than their limitations.
                    </p>
                   <!--  <a class="btn" href="">Learn More</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src={% static 'img\about 1.png' %} alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Recruitment Process</p>
                    <h2> Understanding Your Needs</h2>
                </div>
                <div class="about-text">
                    <p>
                        To begin, the employer and the KBG Recruiting Agency should sign an agency agreement outlining the terms and conditions of the demand and supply of manpower from Bangladesh. This agreement should be signed by both parties in order for the stated terms and conditions to be accepted and the demand to be executed.
                    </p>
                    <p>
                    we study the client's requirements and consult with their representative to gain a thorough understanding of their requirements. we collaborate closely with our clients to fully understand their needs so that we canexpand our business relationship. Then we ask the clients to submit the required documents, which are discussedfurther below under the heading Employer's part
                    </p>
                   <!--  <a class="btn" href="">Learn More</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
 <!-- About Start -->
 <div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src={% static 'img\about 2.png' %} alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                   
                    <h2> Employer's Part</h2>
                </div>
                <div class="about-text">
                    <h2>Power of Attorney </h2>
                    <p>
                        The employer/principal will grant a power of attorney to the KBG Recruiting Agency as a true and lawfulattorney and agent in Bangladesh for handling all recruitment affairs with the Bangladesh Government on behalf of the employer/principal
                    </p>
                    <h2> Demand Letter </h2>
                    <p>
                        The employer/principal will formally issue a demand letter in favour of KBG Recruiting Agency outlining the job categories, number of workers required in each category, monthly salary, duty hours, contract duration, and other worker amenities such as food, medical, transportation, air passage, accommodation, and other benefits.
                    </p>
                    <h2> Visa Documents</h2>
                    <p>
                        Please keep in mind that this document requirement is only applicable to the Kingdom of Saudi Arabia. The employer/principal will provide visa documents okala that will allow the Government of the employing country to hire such workers from Bangladesh. It must be original and authenticated in order to be accepted by the respective embassy
                    </p>
                    <h2>Company Registration (CR) Copy</h2>
                    <p>
                        Again please note that, this particular requirement of document is only applicable for Kingdom of Saudi Arabia. A letter addressing the Consular General of the recruiting country to allow recruitment of candidates from Bangladesh as per demand letter against the stated visa block number.
                    </p>
                    <h2> Employment Agreement</h2>
                    <p>
                        Copies of standard employment contract between employer and employee are required.
                    </p>
                    <h2>Agency Agreement</h2>
                    <p>
                        The employer and KBG Recruiting Agency should sign an agency agreement with all the terms and conditions which will be the guide for both the parties. Authorization Letter, P/A and Demand Letter should be in original, duly sealed & signed by the sponsor or authorized person & attested by Chamber of Commerce and Ministry of Foreign Affairs. Upon receipt of all necessary documents mentioned above, KBG Recruiting Agency will be able to deploy the recruited persons to the destination of the employer within 14-45 days' time subject to availability of seats in airlines concerned
                    </p>
                   <!--  <a class="btn" href="">Learn More</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->






{% endblock content %}
