{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="testimonial wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonial-slider-nav">
                    <div class="slider-nav"><img src={% static 'img\Team\1.jpg' %} alt="Testimonial"></div>
                    <div class="slider-nav"><img src={% static 'img\Team\Screenshot_1.jpg' %} alt="Testimonial"></div>
                    <div class="slider-nav"><img src={% static 'img\Team\Screenshot_2.jpg' %} alt="Testimonial"></div>
                    <div class="slider-nav"><img src={% static 'img\Team\Screenshot_3.jpg' %} alt="Testimonial"></div>
                    <div class="slider-nav"><img src={% static 'img\Team\Screenshot_2.jpg' %} alt="Testimonial"></div>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="testimonial-slider">
                    <div class="slider-item">
                        <h3>Mr. Mohammed Enamul Kabir Khan</h3>
                        <h4>Chairman</h4>
                        <p>Mohammed Enamul Kabir Khan the Chairman of Khan Brothers PP woven Bag Industries Ltd. was born in December 30, 1965 in Kishoreganj, Bangladesh.
                            He completed his Honors and Masters in Accounting from the University of Dhaka
                            in 1990 & 1991 respectively and he started his professional career with city bank limited He served with Aljajira, Jeddah and Saudi Arabia bank for 18 years as a manager, has vast
                            experience with foreign exchange and maintaining key accounts. He was gathered diversified experience to be able to serve in different managerial position in multiple companies. During his tenure in different corporate experiences in both locally and abroad, he gathered and learned the values of business which encourage him to be an entrepreneur of Khan Brothers PP woven Bag Industries Limited and allied concerns.
                            </p>
                    </div>
                    <div class="slider-item">
                        <h3>Mohammad Ruhul Kabir Khan</h3>
                        <h4>Vice-Chairman</h4>
                        <p>Mohammad Ruhul Kabir Khan is leading Khan Brothers Group as a director for more than 19 years now. He has held the position with utmost professionalism and skill. He has completed M.Com in Management from University of Dhaka. He began his professional career with City Bank Limited and later Joined Biman Bangladesh, the national airlines of Bangladesh as a Manager. He used his years of management and administrative experiences for the constant betterment of Khan Brothers Group and its allied concerns. 
                        The company has achieved many administrative milestones because of his valuable contribution.</p>
                    </div>
                    <div class="slider-item">
                        <h3>Tofayel Kabir Khan</h3>
                        <h4>Managing Director</h4>
                        <p>Mohammad Ruhul Kabir Khan is leading Khan Brothers Group as a director for more than 19 years now. He has held the position with utmost professionalism and skill. He has completed M.Com in Management from University of Dhaka. He began his professional career with City Bank Limited and later Joined Biman Bangladesh, the national airlines of Bangladesh as a Manager. He used his years of management and administrative experiences for the constant betterment of Khan Brothers Group and its allied concerns. 
                            The company has achieved many administrative milestones because of his valuable contribution.</p>
                    </div>
                    <div class="slider-item">
                        <h3>Md. Zakirul Kabir Khan</h3>
                        <h4>Deputy Managing Director</h4>
                        <p>Md. Zakirul Kabir Khan was born on october 17, 1976 in Bangladesh. He completed his Masters of Information System from the Central Queensland University, Sydney respectively and he started his journey in corporate life in Bangladesh Power Development Board, (BPDB).
                             Now he is the director of all the concern of Khan Brothers Group</p>
                    </div>
                    <div class="slider-item">
                        <h3>Tofayel Kabir Khan</h3>
                        <h4>Proprietor</h4>
                        <p>Tofayel Kabir Khan is the managing director of Khan Brothers Group
                            and he is also the entrepreneur of KBG Recruiting Agency which is a sister
                            concern of Khan Brothers Group. As he alwayslooked forward to diversification and challeng- es which made him to take the decision of starting a new sister concern of Khan Brothers Group. He has over 21 years of experience in the planning, procurement, operation, leading and more which potentially made him the current Managing Director of Khan Brother Group.
                            </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>




<div class="testimonial wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        
        <div class="row">
            <div class="col-12">
                <div class="testimonial-slider">
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}